.icon-right {
  width: 0.6rem;
  height: 0.4rem;
  margin-left: 0.5rem;
  color: #ffffff !important;
}

.primary {
  // display: flex;
  padding: 0.5rem 1rem;
  // justify-content: center;
  // align-items: center;
  // gap: 0.34806rem;

  border-radius: 0.174rem;
  background: #bb86fc;
  color: #ffffff;
  border: none;
}

.text {
  // display: flex;
  padding: 0.34806rem;
  // margin-right: 1rem;
  // justify-content: center;
  // align-items: center;
  // gap: 0.34806rem;
  // align-self: stretch;

  color: var(--brand-primary, #bb86fc);
  font-family: Inter;
  font-size: 0.87006rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.21813rem; /* 140% */

  border: none;
  background-color: inherit;
}
