.cta-container {
  display: flex;
  height: 7.375rem;
  flex-shrink: 0;
  align-items: center;
  padding: 0 10rem;

  background: #f5f7fa;

  p {
    margin-block-end: 0;
  }
  .email {
    margin-top: 0;
  }

  .demo-btn {
    margin-left: auto;
  }
}
